{% extends 'blog/base.html'%}

{% load static %}


{% block content %}
        <nav>
            <h4><a href="/"> Home </a> </h4>
            <p><a href="/create-game"> Spiel erstellen </a></p>
            <p><a href="/join-game"> Spiel beitreten</a></p>
        </nav>
    <article>
        <h2> Neues Spiel </h2>
        <form method="POST" class="post-form"> {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="safe btn btn-secondary"> Create Game </button>
        </form>

    </article>
{% endblock %}